<div class="wrapper">
  <app-header [isBack]="false" (currentPage)="setSavedPage($event)"></app-header>
  <div class="heroes-grid">
    <app-hero-card class="card card--small" (selectedHero)="showHero( $event )"
      *ngFor="let hero of heroesPage" [heroData]="hero"
      heroSlug="{{ hero.name | slug }}"></app-hero-card>
  </div>
  <app-pager *ngIf="heroes" [data]="heroes" [initialPage]="page" [itemsPerPage]="9" (newItems)="newPage($event)" (currentPage)="currentPage($event)"></app-pager>
</div>
